from os.path import abspath
LOCAL_FILE = abspath

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths. 
    LOCAL_FILE('templates'),
)

INSTALLED_APPS.append('django_nose',)

TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'